@model PaymentInfoModel

@using Nop.Core;
@using Nop.Services.Configuration;

@inject IStoreContext storeContext
@inject ISettingService settingService

@{
    var storeId = (await storeContext.GetCurrentStoreAsync()).Id;
    var useOnePageCheckout = await settingService.GetSettingByKeyAsync("ordersettings.onepagecheckoutenabled", false, storeId, true);
}

<style>

    #paypal-button-container {
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
        font-family: verdana;
    }

    #limepay-description {
        margin-top: 10px;
        margin-bottom: 10px;
        display: block;
        text-align: center;
        font-family: verdana;
        font-weight: bold;
    }
</style>

<input type="hidden" asp-for="Errors" />

@if (!string.IsNullOrEmpty(Model.OrderId))
{
    <div id="limepay-description" class="infoContainertext">
        <p>@T("Plugins.Payments.PayPalCommerceSSI.CustomerInstructions")</p>
    </div>

    <div id="paypal-button-container"></div>

    <script asp-location="Footer">
        $(document).ready(function () {

            $('.confirm-order-next-step-button').hide();
            var tos = document.getElementById("termsofservice");
            if (tos != null)
                tos.checked = true;

            var paymentForm = paypal.Buttons({
                style: {
                    layout: '@settings.StyleLayout',
                    color: '@settings.StyleColor',
                    shape: '@settings.StyleShape',
                    label: '@settings.StyleLabel',
                    tagline: '@settings.StyleTagline'
                },

                createOrder: function (data, actions) {
                    document.getElementById("limepay-description").style.display = 'none';
                    return '@Model.OrderId';
                },

                onApprove: function (data, actions) {
                    $('#paypal-information-container').hide();
                    $('#paypal-button-container').hide();
                    window.location.href = '/PayPalCommerceSSI/paymenthandler' + '?response=@Model.OrderId'
                },

                onError: function (err) {
                    $('#@Html.IdFor(model => model.Errors)').val(err);
                    paymentForm = null;
                },

                onCancel: function (data) {
                    document.getElementById("limepay-description").style.display = 'block';
                }
            });

            if (paymentForm) {
                paymentForm.render('#paypal-button-container');
            }

        });
    </script>
}

@if (orderSettings.OnePageCheckoutEnabled)
{
    @Html.NopInlineScripts(ResourceLocation.Footer)
}